 name: CI demo

 on:
   push:
     branches:
       - master
   pull_request:
     branches:
       - master

 jobs:
   Build:
     Name: Build Project
     runs-on: ubuntu-latest

     steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: ''

      - name: Build with maven
        run: mvn -b clean compile

   Test:
     name: Run test
     runs-on: ubuntu-latest

     steps:
       - name: run test
         run: mvn -b test